<div class = "about_content">
    <div class = "about_box">
        <p><strong>気軽に体を動かしてみませんか？</strong></p>
        <p class= "mt-2">運動したくてエアロビを始めたいけど、本格的なエアロビ
          についていけるか心配だなと思っていませんか？ <br>
          Casual Aerobicsでは道具やユニフォームに指定はなく、
          参加ごとの支払いのため、決まった曜日の休みをとる
          のが難しい方でも参加できます。一緒にエアロビを楽しみましょう！
        </p>
    </div>
</div>