<div class= "about_content">
    <div class = "about_box">
        <p><strong>Infomation</strong></p>
        <p class= "mt-2">
          Q 料金はいくらですか？
          A 料金は1参加につき800円で参加時に集金を行います。
          Q 持ち物はあるますか？
          A 室内用の動きやすい服装とシューズをご持参ください。
            トレーニングマットなどは初回はお貸しいたしますので
            必要に応じてご持参ください。
          Q 参加したい場合はどこにいけばよいですか?
          A "こちら"のページに来月のスケジュールの記載があります。
            体育館の都合などにより、変更の可能性があります。
            体育館の受付で案内が受けれますが、分からなければ
            ご一報ください。
          Q 見学は可能ですか？
          A 可能ですが体育館により見学のしやすさが異なります。
            もし興味を持っていただけましたらご連絡ください。
        </p>
        <p>mail @mail</p>
    </div>
</div>