<div class= "info_content">
    <div class = "info_box">
        <p><strong>Infomation</strong></p>
        <p>
          Q 料金はいくらですか？<br>
          A 料金は1参加につき800円で参加時に集金を行います。<br>
          Q 持ち物はあるますか？<br>
          A 室内用の動きやすい服装とシューズをご持参ください。
            トレーニングマットなどは初回はお貸しいたしますので
            必要に応じてご持参ください。<br>
          Q 参加したい場合はどこにいけばよいですか?<br>
          A "こちら"のページに来月のスケジュールの記載があります。
            体育館の都合などにより、変更の可能性があります。
            体育館の受付で案内が受けれますが、分からなければ
            事前にご連絡ください。<br>
          Q 見学は可能ですか？<br>
          A 可能ですが体育館により見学のしやすさが異なります。
            もし興味を持っていただけましたらご連絡ください。
        </p>
        <p>連絡先:　casualaerobics@mail</p>
    </div>
</div>