/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 //リセットscss
 @import "bootstrap";
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//googlefont
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');

header {
    font-family: "Noto Sans Japanese";
    opacity: 0.7;
    font-size: 1.25em;
}
body{
  background-image: url(img/エアロビ.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Noto Sans Japanese";
}

footer{
  margin-top: auto;
}
.footer-text {
  text-align: center;
  list-style: none;
  font-size: 20px;
  font-family: "ヒラギノ明朝 ProN","Hiragino Mincho ProN"; font-weight: bold;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    @extend.is-invalid
  }
}