/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 //リセットscss
 @import "bootstrap";
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');

header {
    font-family: "Noto Sans Japanese";
    opacity: 0.7;
}
body{
  background-image: url(img/エアロビ.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-visual {
  width: 100%;
  text-align: center;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 35vh;
  font-family: "Noto Sans Japanese";
  font-size: 5em;
}
.box {
  width: 40%;
  height: 20%;
  background-color: rgba(252,105,212,0.5);
}
footer{
  margin-top: auto;
}
.footer-text {
  text-align: center;
  list-style: none;
  font-size: 20px;
  font-family: "ヒラギノ明朝 ProN","Hiragino Mincho ProN"; font-weight: bold;
}